{% extends 'base.html.twig' %}

{% trans_default_domain 'VideoGamesRecordsCoreBundle' %}

{% block body_id 'ranking_medals' %}

{% block body %}
    <h1>{Record lib} - {Medal ranking}</h1>

    <table class="leaderboard">
        <thead>
            <tr>
                <th scope="col">{{ 'ranking.rank'|trans }}</th>
                <th scope="col">{{ 'ranking.nickname'|trans }}</th>
                <th scope="col">{{ 'ranking.platinum'|trans }}</th>
                <th scope="col">{{ 'ranking.gold'|trans }}</th>
                <th scope="col">{{ 'ranking.silver'|trans }}</th>
                <th scope="col">{{ 'ranking.bronze'|trans }}</th>
            </tr>
        </thead>
        <tbody>
        {% for row in rankingMedals %}
            <tr {{ row.getMedalsBackgroundColor()|raw }}>
                <td>{{ row.getRankMedal() }}</td>
                <td>{{ row.getPlayer().getPseudo() }}</td>
                <td>{{ row.getRank0() }}</td>
                <td>{{ row.getRank1() }}</td>
                <td>{{ row.getRank2() }}</td>
                <td>{{ row.getRank3() }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
