{% extends 'base.html.twig' %}

{% trans_default_domain 'VideoGamesRecordsCoreBundle' %}

{% block body_id 'ranking_medals' %}

{% block body %}
    <h1>{title}</h1>

    <table class="leaderboard">
        <thead>
            <tr>
                <th scope="col">{{ 'ranking.rank'|trans }}</th>
                <th scope="col">{{ 'ranking.nickname'|trans }}</th>
                <th scope="col">{{ 'ranking.platinum'|trans }}</th>
                <th scope="col">{{ 'ranking.gold'|trans }}</th>
                <th scope="col">{{ 'ranking.silver'|trans }}</th>
                <th scope="col">{{ 'ranking.bronze'|trans }}</th>
            </tr>
        </thead>
        <tbody>
        {% for row in ranking %}
            <tr {{ vgrRankBgColor(row.getRankCup())|raw }}>
                <td>{{ row.getRankCup() }}</td>
                <td><a href="{{ path('vgr_player_index', {'id': row.getIdPlayer(), 'slug': row.player.slug}) }}">{{ row.player.pseudo }}</a></td>
                <td>{{ row.getGameRank0()|localizednumber }}</td>
                <td>{{ row.getGameRank1()|localizednumber }}</td>
                <td>{{ row.getGameRank2()|localizednumber }}</td>
                <td>{{ row.getGameRank3()|localizednumber }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
