{% extends 'base.html.twig' %}

{% trans_default_domain 'VideoGamesRecordsCoreBundle' %}

{% block body_id 'ranking_points' %}

{% block body %}
    <h1>{title}</h1>

    <table class="leaderboard">
        <thead>
            <tr>
                <th scope="col">{{ 'ranking.rank'|trans }}</th>
                <th scope="col">{{ 'ranking.nickname'|trans }}</th>
                <th scope="col">{{ 'ranking.points'|trans }}</th>
                <th scope="col">{{ 'ranking.number.score'|trans }}</th>
            </tr>
        </thead>
        <tbody>
        {% for row in ranking %}
            <tr {{ vgrRankBgColor(row.getRankPoint())|raw }}>
                <td>{{ row.getRankPoint() }}</td>
                <td><a href="{{ path('vgr_player_index', {'id': row.getIdPlayer(), 'slug': row.player.slug}) }}">{{ row.player.pseudo }}</a></td>
                <td>{{ row.getPointChart() }}</td>
                <td>{{ row.getNbChart() }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
