{% extends 'base.html.twig' %}

{% trans_default_domain 'VideoGamesRecordsCoreBundle' %}

{% block body_id 'ranking_points' %}

{% block body %}
    <h1>{title}</h1>

    <table class="leaderboard">
        <thead>
        <tr>
            <th scope="col">{{ 'ranking.rank'|trans }}</th>
            <th scope="col">{{ 'ranking.nickname'|trans }}</th>
            <th scope="col">{{ 'ranking.points'|trans }}</th>
        </tr>
        </thead>
        <tbody>
        {% for row in ranking %}
            <tr {{ vgrRankBgColor(row.getRankPointChart())|raw }}>
                <td>{{ row.getRankPointChart() }}</td>
                <td>{{ row.getTeam().getLibTeam() }}</td>
                <td>{{ row.getPointChart() }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
