{% extends 'base.html.twig' %}

{% trans_default_domain 'VideoGamesRecordsCoreBundle' %}

{% block body_id 'group_index' %}

{% block body %}

    <h1>{{ group.getLibGroup() }} – {{ group.getGame().getLibGame() }}</h1>



    <ul>
        <li>{% trans %}group.chartlist{% endtrans %} | {% trans %}group.scores{% endtrans %}</li>
        {% for chart in group.getCharts %}
            <li>
                <a href="{{ path('vgr_chart_index', {'id': chart.getIdChart()}) }}">{{ chart.getLibChart() }}</a> |  {{ chart.getNbPost() }}
            </li>
        {% endfor %}
    </ul>


    <h2>{% trans %}group.pointranking{% endtrans %}</h2>
    <ul>
        <li>rank|pseudo|points|nbPost</li>
        {% for row in rankingPoints %}
            <li {{ row.getPointsBackgroundColor()|raw  }}>{{ row.getRankPoint() }} | {{ row.getUser().getPseudo() }} | {{ row.getPointChart() }} | {{ row.getNbChart() }}</li>
        {% else %}
            <div class="well">{{ 'group.no_ranking'|trans }}</div>
        {% endfor %}
    </ul>

    <div class="txtcenter">
        <a href="{{ path('vgr_group_ranking_points', {'id': group.getIdGroup()}) }}">{% trans %}group.pointranking.full{% endtrans %}</a>
    </div>

    <h2>{% trans %}group.medalranking{% endtrans %}</h2>
    <ul>
        <li>rank|pseudo|platine|gold|silver|bronze</li>
        {% for row in rankingMedals %}
            <li {{ row.getMedalsBackgroundColor() }}>{{ row.getRankMedal() }} | {{ row.getUser().getPseudo() }} | {{ row.getRank0() }} | {{ row.getRank1() }} | {{ row.getRank2() }} | {{ row.getRank3() }}</li>
        {% else %}
            <div class="well">{{ 'group.no_ranking'|trans }}</div>
        {% endfor %}
    </ul>

    <div class="txtcenter">
        <a href="{{ path('vgr_group_ranking_medals', {'id': group.getIdGroup()}) }}">{% trans %}group.medalranking.full{% endtrans %}</a>
    </div>


{% endblock %}
