<h2>Team</h2>
{% if player.getTeam() != null %}
    {{ 'team.my_team'|trans }} : <a href="{{ path('vgr_team_index', {'id': player.getTeam().idTeam, 'slug': player.team.slug}) }}"> {{ player.getTeam().getLibTeam() }}</a>
    {% if player.isLeader() %}
        {{ render(controller('VideoGamesRecordsCoreBundle:Team:requests')) }}
        <h3>{{ 'team.change_leader'|trans }}</h3>
        <a href="{{ path('vgr_team_change_leader') }}">link</a>

        <h3>{{ 'team.update_my_team'|trans }}</h3>
        <a href="{{ path('vgr_team_update') }}">link</a>
    {% else %}
        {{ render(controller('VideoGamesRecordsCoreBundle:Team:quit')) }}
    {% endif %}
{% else %}
    {{ render(controller('VideoGamesRecordsCoreBundle:Team:requests')) }}
    <h3>{{ 'team.create_a_team'|trans }}</h3>
    <a href="{{ path('vgr_team_create') }}">link</a>
{% endif %}