{% extends 'base.html.twig' %}

{% trans_default_domain 'VideoGamesRecordsCoreBundle' %}

{% block body_id 'team_index' %}

{% block title %}{{ team.libTeam }}{% endblock %}

{% block aside %}
    ASIDE
{% endblock %}

{% block body %}
<h1>{{ team.libTeam }}</h1>

    <dl>
        <dt>{{ 'team.name'|trans }}</dt>
        <dd>{{ team.libTeam }}</dd>

        <dt>{{ 'team.tag'|trans }}</dt>
        <dd>{{ team.tag }}</dd>

        {% if team.siteWeb  %}
        <dt>{{ 'team.siteWeb'|trans }}</dt>
        <dd><a href="{{ team.siteWeb }}" target="_blank">{{ team.siteWeb }}</a></dd>
        {%  endif %}

        <dt>{{ 'team.createdAt'|trans }}</dt>
        <dd>{{ team.createdAt|date("m/d/Y") }}</dd>        
    </dl>

    {% if (team.isOpened()) and (is_granted('IS_AUTHENTICATED_REMEMBERED')) %}
        {{ render(controller('VideoGamesRecordsCoreBundle:Team:join',{'idTeam' : team.idTeam} ))}}
    {% endif %}

    <h2>Players list</h2>

    <ul>
    {% for player in team.getPlayers() %}
        <li><a href="{{ path('vgr_player_index', {'id': player.getIdPlayer(), 'slug': player.slug}) }}">{{ player.pseudo }}</a></li>
    {% endfor %}
    </ul>

    <h2>Games list</h2>

    <table>
        <thead>
            <tr>
                <th scope="col">Jeu</th>
                <th scope="col">Médailles</th>
                <th scope="col">Classement</th>
                <th scope="col">Points</th>
            </tr>
        </thead>
        <tbody>
            {% for teamGame in team.getTeamGame() %}
            <tr>
                <td>{{ teamGame.getGame().getLibGame() }}</td>
                <td>
                    <div>{% if teamGame.getChartRank0() > 0 %} {{ teamGame.getChartRank0()|localizednumber }} Platine {% endif %}</div>
                    <div>{% if teamGame.getChartRank1() > 0 %} {{ teamGame.getChartRank1()|localizednumber }} Or {% endif %}</div>
                    <div>{% if teamGame.getChartRank2() > 0 %} {{ teamGame.getChartRank2()|localizednumber }} Argent {% endif %}</div>
                    <div>{% if teamGame.getChartRank3() > 0 %} {{ teamGame.getChartRank3()|localizednumber }} Bronze {% endif %}</div>
                </td>
                <td>
                    {% if teamGame.getRankPointChart() == 1 %}or
                    {% elseif teamGame.getRankPointChart() == 2 %}argent
                    {% elseif teamGame.getRankPointChart() == 3 %}bronze
                    {% else %}
                        {{ teamGame.getRankPointChart()|localizednumber }}
                    {% endif %}
                </td>
                <td>
                    {{ teamGame.pointGame|localizednumber }} points
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    <h2>Badges</h2>

    {{ render(controller(
    'VideoGamesRecordsCoreBundle:Badge:teamList',
        { 'idTeam': team.idTeam(), 'type': 'master' }
    )) }}
{% endblock %}
