{% extends 'base.html.twig' %}

{% trans_default_domain 'VideoGamesRecordsCoreBundle' %}

{% block body_id 'team_index' %}

{% block title %}{{ team.libTeam }}{% endblock %}

{% block aside %}
    ASIDE
{% endblock %}

{% block body %}
<h1>{{ team.libTeam }}</h1>

    <ul>
        <li>{{ 'team.team'|trans }} : {{ team.libTeam }} </li>
        <li>{{ 'team.tag'|trans }} : {{ team.tag }} </li>
        {% if team.siteWeb  %}
        <li>{{ 'team.siteWeb'|trans }} : <a href="{{ team.siteWeb }}" target="_blank">{{ team.siteWeb }}</a> </li>
        {%  endif %}
        <li>{{ 'team.createdAt'|trans }} : {{ team.createdAt|date("m/d/Y") }}</li>
    </ul>
{% endblock %}