{% extends 'base.html.twig' %}

{% block body_id 'team_update' %}

{% block body %}
    <h2>{{ 'team.update_my_team'|trans }}</h2>

    {{ form_start(form) }}
    {{ form_widget(form) }}
    {{ form_end(form) }}
{% endblock %}

{% block sidebar %}
    {{ parent() }}
{% endblock %}
