{% trans_default_domain 'VideoGamesRecordsCoreBundle' %}

<table class="leaderboard">
    <thead>
    <tr>
        <th scope="col">{{ 'ranking.rank'|trans }}</th>
        <th scope="col">{{ 'ranking.nickname'|trans }}</th>
        <th scope="col">{{ 'ranking.platinum'|trans }}</th>
        <th scope="col">{{ 'ranking.gold'|trans }}</th>
        <th scope="col">{{ 'ranking.silver'|trans }}</th>
        <th scope="col">{{ 'ranking.bronze'|trans }}</th>
    </tr>
    </thead>
    <tfoot>
    <tr>
        <td colspan="6">
            {% if link is defined %}
                <a href="{{ link }}">{{ 'ranking.medal.full'|trans }}</a>
            {% endif %}
        </td>
    </tr>
    </tfoot>
    <tbody>
    {% for row in ranking %}
        <tr {{ vgrRankBgColor(row.getRankMedal())|raw }}>
            <td>{{ row.getRankMedal() }}</td>
            <td><a href="{{ path('vgr_player_index', {'id': row.getIdPlayer(), 'slug': row.player.slug}) }}">{{ row.player.pseudo }}</a></td>
            <td>{{ row.getChartRank0() }}</td>
            <td>{{ row.getChartRank1() }}</td>
            <td>{{ row.getChartRank2() }}</td>
            <td>{{ row.getChartRank3() }}</td>
        </tr>
    {% else %}
        <tr>
            <td colspan="6">{{ 'ranking.no_player'|trans }}</td>
        </tr>
    {% endfor %}
    </tbody>
</table>