{% trans_default_domain 'VideoGamesRecordsCoreBundle' %}

<table class="leaderboard">
    <thead>
    <tr>
        <th scope="col">{{ 'ranking.rank'|trans }}</th>
        <th scope="col">{{ 'ranking.nickname'|trans }}</th>
        <th scope="col">{{ 'ranking.pointsChart'|trans }}</th>
    </tr>
    </thead>
    <tfoot>
    <tr>
        <td colspan="3">
            {% if link is defined %}
                <a href="{{ link }}">{{ 'ranking.point.full'|trans }}</a>
            {% endif %}
        </td>
    </tr>
    </tfoot>
    <tbody>
    {% for row in ranking %}
        <tr {{ vgrRankBgColor(row.getRankPointChart())|raw }}>
            <td>{{ row.getRankPointChart() }}</td>
            <td><a href="{{ path('vgr_team_index', {'id': row.getIdTeam(), 'slug': row.team.slug}) }}">{{ row.getTeam().getLibTeam() }}</a></td>
            <td>{{ row.getPointChart()|localizednumber }}</td>
        </tr>
    {% else %}
        <tr>
            <td colspan="3">{{ 'ranking.no_team'|trans }}</td>
        </tr>
    {% endfor %}
    </tbody>
</table>
