{% extends 'base.html.twig' %}

{% trans_default_domain 'VideoGamesRecordsCoreBundle' %}

{% block body_id 'game_index' %}

{% block title %}{{ game.getLibGame() }}{% endblock %}

{% block aside %}
    ASIDE
{% endblock %}

{% block body %}
    <h1>{{ game.getLibGame() }}</h1>

    <table class="group-list">
        <thead>
        <tr>
            <th scope="col">{{ 'game.group.list'|trans }}</th>
            <th scope="col">{{ 'game.charts'|trans }}</th>
            <th scope="col">{{ 'game.scores'|trans }}</th>
        </tr>
        </thead>
        <tbody>
        {% for group in game.getGroups %}
            <tr>
                <td><a href="{{ path('vgr_group_index', {'id': group.getId()}) }}">{{ group.getLibGroup() }}</a>
                </td>
                <td>{{ group.getNbChart() }}</td>
                <td>{{ group.getNbPost() }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>


    <h2>{{ 'game.ranking.point'|trans }}</h2>

    <table class="leaderboard">
        <thead>
        <tr>
            <th scope="col">{{ 'ranking.rank'|trans }}</th>
            <th scope="col">{{ 'ranking.nickname'|trans }}</th>
            <th scope="col">{{ 'ranking.points'|trans }}</th>
            <th scope="col">{{ 'ranking.number.score'|trans }}</th>
        </tr>
        </thead>
        <tfoot>
        <tr>
            <td colspan="4">
                <a href="{{ path('vgr_game_ranking_points', {'id': game.id}) }}">{{ 'game.ranking.point.full'|trans }}</a>
            </td>
        </tr>
        </tfoot>
        <tbody>
        {% for row in playerRankingPoints %}
            <tr {{ vgrRankBgColor(row.getRankPointChart())|raw }}>
                <td>{{ row.getRankPointChart() }}</td>
                <td><a href="{{ path('vgr_player_index', {'id': row.getIdPlayer()}) }}">{{ row.getPlayer().getPseudo() }}</a></td>
                <td>{{ row.getPointChart() }}</td>
                <td>{{ row.getNbChart() }}</td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">{{ 'game.no_player'|trans }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>


    <h2>{{ 'game.ranking.medal'|trans }}</h2>

    <table class="leaderboard">
        <thead>
        <tr>
            <th scope="col">{{ 'ranking.rank'|trans }}</th>
            <th scope="col">{{ 'ranking.nickname'|trans }}</th>
            <th scope="col">{{ 'ranking.platinum'|trans }}</th>
            <th scope="col">{{ 'ranking.gold'|trans }}</th>
            <th scope="col">{{ 'ranking.silver'|trans }}</th>
            <th scope="col">{{ 'ranking.bronze'|trans }}</th>
        </tr>
        </thead>
        <tfoot>
        <tr>
            <td colspan="6">
                <a href="{{ path('vgr_game_ranking_medals', {'id': game.id}) }}">{{ 'game.ranking.medal.full'|trans }}</a>
            </td>
        </tr>
        </tfoot>
        <tbody>
        {% for row in playerRankingMedals %}
            <tr {{ vgrRankBgColor(row.getRankMedal())|raw }}>
                <td>{{ row.getRankMedal() }}</td>
                <td><a href="{{ path('vgr_player_index', {'id': row.getIdPlayer()}) }}">{{ row.getPlayer().getPseudo() }}</a></td>
                <td>{{ row.getChartRank0() }}</td>
                <td>{{ row.getChartRank1() }}</td>
                <td>{{ row.getChartRank2() }}</td>
                <td>{{ row.getChartRank3() }}</td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">{{ 'game.no_player'|trans }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <h2>{{ 'game.ranking.point'|trans }}</h2>

    <table class="leaderboard">
        <thead>
        <tr>
            <th scope="col">{{ 'ranking.rank'|trans }}</th>
            <th scope="col">{{ 'ranking.nickname'|trans }}</th>
            <th scope="col">{{ 'ranking.pointsGame'|trans }}</th>
            <th scope="col">{{ 'ranking.pointsChart'|trans }}</th>
        </tr>
        </thead>
        <tfoot>
        <tr>
            <td colspan="4">

            </td>
        </tr>
        </tfoot>
        <tbody>
        {% for row in teamRankingPoints %}
            <tr {{ vgrRankBgColor(row.getRankPointChart())|raw }}>
                <td>{{ row.getRankPointChart() }}</td>
                <td>{{ row.getTeam().getLibTeam() }}</td>
                <td>{{ row.getPointGame() }}</td>
                <td>{{ row.getPointChart() }}</td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">{{ 'game.no_player'|trans }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
