{% extends 'base.html.twig' %}

{% trans_default_domain 'VideoGamesRecordsCoreBundle' %}

{% block body_id 'game_index' %}

{% block title %}{{ game.getLibGame() }}{% endblock %}

{% block aside %}
    ASIDE
{% endblock %}

{% block body %}
    <h1>{{ game.getLibGame() }}</h1>

    <table class="group-list">
        <thead>
        <tr>
            <th scope="col">{{ 'game.group.list'|trans }}</th>
            <th scope="col">{{ 'game.charts'|trans }}</th>
            <th scope="col">{{ 'game.scores'|trans }}</th>
        </tr>
        </thead>
        <tbody>
        {% for group in game.getGroups %}
            <tr>
                <td><a href="{{ path('vgr_group_index', {'id': group.id, 'slug': group.slug}) }}">{{ group.getLibGroup() }}</a>
                </td>
                <td>{{ group.getNbChart()|localizednumber }}</td>
                <td>{{ group.getNbPost()|localizednumber }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>


    <h2>{{ 'game.ranking.point'|trans }}</h2>
    {% include 'VideoGamesRecordsCoreBundle:Ranking:partial/player-points-chart.html.twig' with {'ranking': playerRankingPoints, 'link': path('vgr_game_ranking_player_points', {'id': game.id})} %}

    <h2>{{ 'game.ranking.medal'|trans }}</h2>
    {% include 'VideoGamesRecordsCoreBundle:Ranking:partial/player-medals.html.twig' with {'ranking': playerRankingMedals, 'link': path('vgr_game_ranking_player_medals', {'id': game.id})} %}

    <h2>{{ 'game.ranking.point'|trans }}</h2>
    {% include 'VideoGamesRecordsCoreBundle:Ranking:partial/team-points-chart.html.twig' with {'ranking': teamRankingPoints, 'link': path('vgr_game_ranking_team_points', {'id': game.id})} %}

    <h2>{{ 'game.ranking.medal'|trans }}</h2>
    {% include 'VideoGamesRecordsCoreBundle:Ranking:partial/team-medals.html.twig' with {'ranking': teamRankingMedals, 'link': path('vgr_game_ranking_team_medals', {'id': game.id})} %}

{% endblock %}
