{% extends 'base.html.twig' %}

{% trans_default_domain 'VideoGamesRecordsCoreBundle' %}

{% block body_id 'game_list' %}

{% block body %}
    <h1>{{ 'game.list'|trans }}</h1>

    {% if games %}
        <ul>
            {% for game in games %}
                <li><a href="{{ path('vgr_game_index', {'id': game.getIdGame()}) }}">{{ game.getLibGame() }}</a></li>
            {% endfor %}
        </ul>
    {% else %}
        <p>{{ 'game.no_posts_found'|trans }}</p>
    {% endif %}

    <div class="pagination">
        {{ knp_pagination_render(games) }}
    </div>

{% endblock %}

{% block sidebar %}
    {{ parent() }}
{% endblock %}
