{% extends 'base.html.twig' %}

{% block body_id 'game_list' %}

{% block body %}
    {% for game in games %}
        <article class="post">
            <h2>
                <a href="{{ path('vgr_game_index', {'id': game.getIdJeu()}) }}">{{ game.getLibJeu() }}</a>
            </h2>

        </article>
    {% else %}
        <div class="well">{{ 'game.no_posts_found'|trans }}</div>
    {% endfor %}

    <div class="navigation text-center">
        {{ knp_pagination_render(games) }}
    </div>

{% endblock %}

{% block sidebar %}
    {{ parent() }}

{% endblock %}
