{% extends 'base.html.twig' %}

{% trans_default_domain 'VideoGamesRecordsCoreBundle' %}

{% block body_id 'game_list' %}
{% block title %}{{ 'game.list'|trans }}{% endblock %}

{% block body %}
    {% if alphabet %}
        <div class="menu-alpha">
            <ul>
            {% for letter in alphabet %}
                <li class="menu-alpha__item"><a href="{{ path('vgr_game_list_letter', {'letter': letter}) }}">{{ letter }}</a></li>
            {% endfor %}
            </ul>
        </div>
    {% endif %}

    <table class="group-list">
        <thead>
        <tr>
            <th scope="col">{{ 'game_list.game'|trans }}</th>
            <th scope="col">{{ 'game_list.platform.list'|trans }}</th>
            <th scope="col">{{ 'game_list.chart.number'|trans }}</th>
            <th scope="col">{{ 'game_list.score.number'|trans }}</th>
            <th scope="col">{{ 'game_list.players.number'|trans }}</th>
        </tr>
        </thead>
        <tbody>
        {% for game in games %}
            <tr>
                <td><a href="{{ path('vgr_game_index', {'id': game.id}) }}">{{ game.name }}</a></td>
                <td>
                    {% for platform in game.getPlatforms() %}
                        {{ platform.getLibPlatform() }}
                    {% endfor %}
                </td>
                <td>{{ game.nbChart }}</td>
                <td>{{ game.nbPost }}</td>
                <td>{{ game.nbPlayer }}</td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">{{ 'game_list.no_game'|trans }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}

{% block sidebar %}
    {{ parent() }}
{% endblock %}
