{% extends 'base.html.twig' %}

{% trans_default_domain 'VideoGamesRecordsCoreBundle' %}

{% block title %}{{ chart.libChart }} - {{ chart.group.libGroup }} – {{ chart.group.game.libGame }}{% endblock %}

{% block body_id 'chart_index' %}

{% block body %}
    <h1>{{ chart.libChart }} - {{ chart.group.libGroup }} – {{ chart.group.game.libGame }}</h1>

    <table class="leaderboard">
        <thead>
        <tr>
            <th scope="col">{{ 'ranking.rank'|trans }}</th>
            <th scope="col">{{ 'ranking.nickname'|trans }}</th>
            {% for lib in chart.libs %}
                <th>{{ lib.name }}</th>
            {% endfor %}
            <th scope="col">{{ 'ranking.points'|trans }}</th>
            <th scope="col"></th>
        </tr>
        </thead>
        <tbody>
        {% for row in ranking %}
              <tr {{ vgrRankBgColor(row[0].rank|localizednumber)|raw }}>
                <td>{{ row[0].rank|localizednumber }}</td>
                <td>
                    <a href="{{ path('vgr_player_index', {'id': row[0].player.idPlayer, 'slug': row[0].player.slug}) }}">
                        {{ row[0].player.pseudo }}
                    </a>
                </td>
                {% for lib in chart.getLibs() %}
                    <td>{{ vgrFormatScore(row['value_' ~  lib.getIdLibChart()], lib.getType().getMask()) }}</td>
                {% endfor %}
                <td>{{ row[0].pointChart|localizednumber }}</td>
                <td>{{ vgrProofDisplayStatus(row[0])|raw }}</td>
            </tr>
        {% else %}
            <div class="well">{{ 'chart.no_ranking'|trans }}</div>
        {% endfor %}
        </tbody>
    </table>

    {% if is_granted('ROLE_CHART_SUBMIT') %}
        <div>
            <a href="{{ path('vgr_chart_form', {'id': chart.id}) }}">{{ 'form.action'|trans }}</a>{# todo adapt if player has send his score #}
        </div>
    {% endif %}

    <h2>{{ 'chart.ranking.point'|trans }}</h2>
    {% include 'VideoGamesRecordsTeamBundle:Ranking:partial/points-chart.html.twig' with {'ranking': teamRankingPoints} %}
{% endblock %}
