{% extends 'base.html.twig' %}

{% trans_default_domain 'VideoGamesRecordsCoreBundle' %}

{% block body_id 'chart_index' %}

{% block body %}

    {% for row in ranking %}
        <li>{{ row['uc'].getRank() }} | {{ row['uc'].getUser().getPseudo() }} |

        {% for lib in chart.getLibs() %}
            {{ vgrFormatScore(row['value_' ~  lib.getIdLibChart()], lib.getType().getMask()) }}  ||  {{ row['uc'].getPointChart()|number_format }}pts
        {% endfor %}

        </li>
    {% else %}
        <div class="well">{{ 'chart.no_ranking'|trans }}</div>
    {% endfor %}


{% endblock %}