{% extends 'base.html.twig' %}

{% trans_default_domain 'VideoGamesRecordsCoreBundle' %}

{% block title %}{{ chart.libChart }} - {{ chart.group.libGroup }} – {{ chart.group.game.libGame }}{% endblock %}

{% block body_id 'chart_index' %}

{% block body %}
    <h1>{{ chart.libChart }} - {{ chart.group.libGroup }} – {{ chart.group.game.libGame }}</h1>

    <table class="leaderboard">
        <thead>
        <tr>
            <th scope="col">{{ 'ranking.rank'|trans }}</th>
            <th scope="col">{{ 'ranking.nickname'|trans }}</th>
            {% for lib in chart.libs %}
                <th>{{ lib.name }}</th>
            {% endfor %}
            <th scope="col">{{ 'ranking.points'|trans }}</th>
        </tr>
        </thead>
        <tbody>
        {% for row in ranking %}
            <tr {{ row['pc'].getPointsBackgroundColor()|raw }}>
                <td>{{ row['uc'].getRank() }}</td>
                <td>{{ row['pc'].getPlayer().getPseudo() }}</td>
                {% for lib in chart.getLibs() %}
                    <td>{{ vgrFormatScore(row['value_' ~  lib.getIdLibChart()], lib.getType().getMask()) }}</td>
                {% endfor %}
                <td>{{ row['pc'].getPointChart()|number_format }}</td>
            </tr>
        {% else %}
            <div class="well">{{ 'chart.no_ranking'|trans }}</div>
        {% endfor %}
        </tbody>
    </table>

    {% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
        <div>
            <a href="{{ path('vgr_chart_form', {'id': chart.idChart}) }}">{{ 'form.action'|trans }}</a>{# todo adapt if player has send his score #}
        </div>
    {% endif %}
{% endblock %}
