{% extends 'base.html.twig' %}

{% trans_default_domain 'VideoGamesRecordsCoreBundle' %}

{% block body_id 'player_index' %}

{% block title %}{{ player.getPseudo() }}{% endblock %}

{% block aside %}
    ASIDE
{% endblock %}

{% block body %}
<h1>{{ player.getPseudo() }}</h1>

    <dl>
        <dt>Nombre de jeux</dt>
        <dd>{{ player.getPlayerGame()|length|localizednumber }}</dd>

        <dt>Nombre de scores postés</dt>
        <dd>{{ player.getNbChart()|localizednumber }}</dd>

        <dt>Nombre de preuves</dt>
        <dd>{{ player.getNbChartProven()|localizednumber }}</dd>

        {% if lastChart %}
        <dt>Dernier record posté</dt>
        <dd>{{ lastChart.getChart().getGroup().getGame().getLibGame() }} - {{ lastChart.getChart().getGroup().getLibGroup() }} - {{ lastChart.getChart().getLibChart() }} - {{ lastChart.getCreatedAt()|date('Y-m-d H:i:s')  }}</dd>
        {% endif %}
    </dl>

    <table>
        <caption>Classement coupes et médailles</caption>
        <thead>
            <tr>
                <td></td>
                <th scope="col">Coupes</th>
                <th scope="col">Médailles</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th scope="row">Rang</th>
                <td>{{ player.getRankCup()|localizednumber }} / {{ nbPlayer|localizednumber }}</td>
                <td>{{ player.getRankMedal()|localizednumber }} / {{ nbPlayer|localizednumber }}</td>
            </tr>
            <tr>
                <th scope="row">Platine</th>
                <td>{{ player.getGameRank0()|localizednumber }}</td>
                <td>{{ player.getChartRank0()|localizednumber }}</td>
            </tr>
            <tr>
                <th scope="row">Or</th>
                <td>{{ player.getGameRank1()|localizednumber }}</td>
                <td>{{ player.getChartRank1()|localizednumber }}</td>
            </tr>
            <tr>
                <th scope="row">Argent</th>
                <td>{{ player.getGameRank2()|localizednumber }}</td>
                <td>{{ player.getChartRank2()|localizednumber }}</td>
            </tr>
            <tr>
                <th scope="row">Bronze</th>
                <td>{{ player.getGameRank3()|localizednumber }}</td>
                <td>{{ player.getChartRank3()|localizednumber }}</td>
            </tr>
        </tbody>
    </table>

    <table>
        <caption>Classement points</caption>
        <thead>
            <tr>
                <td></td>
                <th scope="col">Jeux</th>
                <th scope="col">Charts</th>
                <th scope="col">Badges</th>
                <th scope="col">Preuves</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th scope="row">Rang</th>
                <td>{{ player.getRankPointGame()|localizednumber }} / {{ nbPlayer|localizednumber }}</td>
                <td>{{ player.getRankPointChart()|localizednumber }} / {{ nbPlayer|localizednumber }}</td>
                <td>{{ player.getRankBadge()|localizednumber }} / {{ nbPlayer|localizednumber }}</td>
                <td>{{ player.getRankProof()|localizednumber }} / {{ nbPlayer|localizednumber }}</td>
            </tr>
            <tr>
                <th scope="row">Points</th>
                <td>{{ player.getPointGame()|localizednumber }}</td>
                <td>{{ player.getPointChart()|localizednumber }}</td>
                <td>{{ player.getPointBadge()|localizednumber }}</td>
                <td>{{ player.getNbChartProven()|localizednumber }}</td>
            </tr>
        </tbody>
    </table>

    <table>
        <caption>Liste des jeux</caption>
        <thead>
            <tr>
                <th scope="col">Jeu</th>
                <th scope="col">Médailles</th>
                <th scope="col">Classement</th>
                <th scope="col">Points</th>
            </tr>
        </thead>
        <tbody>
            {% for playerGame in player.getPlayerGame() %}
            <tr>
                <td>{{ playerGame.getGame().getLibGame() }}</td>
                <td>
                    <div>{% if playerGame.getChartRank0() > 0 %} {{ playerGame.getChartRank0()|localizednumber }} Platine {% endif %}</div>
                    <div>{% if playerGame.getChartRank1() > 0 %} {{ playerGame.getChartRank1()|localizednumber }} Or {% endif %}</div>
                    <div>{% if playerGame.getChartRank2() > 0 %} {{ playerGame.getChartRank2()|localizednumber }} Argent {% endif %}</div>
                    <div>{% if playerGame.getChartRank3() > 0 %} {{ playerGame.getChartRank3()|localizednumber }} Bronze {% endif %}</div>
                </td>
                <td>
                    {% if playerGame.getRankPointChart() == 1 %}or
                    {% elseif playerGame.getRankPointChart() == 2 %}argent
                    {% elseif playerGame.getRankPointChart() == 3 %}bronze
                    {% else %}
                        {{ playerGame.getRankPointChart()|localizednumber }}
                    {% endif %}
                </td>
                <td>{{ playerGame.pointGame|localizednumber }} points</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    <h2>Badges</h2>

    {{ render(controller(
        'VideoGamesRecordsCoreBundle:Badge:playerList',
        { 'idPlayer': player.idPlayer(), 'type': 'master' }
    )) }}
    {{ render(controller(
        'VideoGamesRecordsCoreBundle:Badge:playerList',
        { 'idPlayer': player.idPlayer(), 'type': 'chart' }
    )) }}
    {{ render(controller(
        'VideoGamesRecordsCoreBundle:Badge:playerList',
        { 'idPlayer': player.idPlayer(), 'type': 'proof' }
    )) }}
{% endblock %}
